<check if="isset({{@SESSION.token}})">
  <true>
    <a href="/logni">Log out</a> or <a href="/enter">Add entry</a>
  </true>
  <false>
    <a href="/login">Log in</a> or <a href="/register">Register</a>
  </false>
</check>

<center>
  <br>
  <br>
  <h1>
    <font size="7" color="{{@QS.ATHEJA_BRAND_COLOR}}">
      {{@QS.ATHEJA_BRAND}}
    </font>
  </h1>
  <br>
  <form action="search" method="get">
    <input type="search" placeholder="{{@QS.ATHEJA_BRAND_MOTTO}}" name="q" required />
    <input type="submit" value="Search" />
  </form>
</center>