<h1><a href="/">{{@QS.ATHEJA_BRAND}}</a></h1>

<center>
  <form action="register" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required /><br>

    <label for="displayname">Display name:</label>
    <input type="text" name="displayname" id="displayname" required /><br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required /><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required /><br>

    <br>
    <input type="submit" value="Register" /> or <a href="/login">Log in</a>
  </form>
</center>