<div style="display: block ruby;">
  <h1><a href="/">{{@QS.ATHEJA_BRAND}}</a></h1>
  <form action="search" method="get">
    <input type="search" placeholder="{{@GET.q}}" name="q" />
    <input type="submit" value="Search" />
  </form>
  <a href="/login">Log in</a> or <a href="/register">Register</a>
</div>

<center>
  Found {{@entries_count}} entries!
</center>
<repeat group="{{@entries}}" value="{{@entry}}">
  <div>
    <br>
    <hr>
    <a href="{{@entry.url}}">
      <h2>{{@entry.name}}</h2>
    </a>
    <summary>{{@entry.description}}</summary>
    <sub>{{@entry.url}} | {{@entry.karma}} karma | {{@entry.author.displayname}} | {{@entry.created_at}}</sub>
  </div>
</repeat>